.good {
    &__title {
        color: #000;
        font-size: 26px;
        font-weight: 400;
        line-height: normal;
    }
    &__stats {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__stars {
        display: flex;
        align-items: center;
        margin-right: 25px;
        color: #000;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        img {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        .icon-star {
            color: #FFC107;
        }
    }
    &__reviews {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
    }
    &__info {
        display: flex;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 470px;
        img {
            max-width: 95%;
            max-height: 95%;
        }
    }
    &__params {
        position: relative;
        margin-top: 50px;
        min-width: 200px;
        display: block;
        &__title {
            position: absolute;
            top: -50px;
            left: 0;
            color: #000;
            font-size: 22px;
            font-weight: 400;
            line-height: normal;
        }
        &__property {
            margin-bottom: 10px;
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__to-cart {
        width: 270px;
        height: 150px;
        border-radius: 5px;
        border: 1px solid #000;
        margin-left: 40px;
        &__price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 10px 20px 10px;
            &__new {
                color: #000;
                font-size: 30px;
                font-weight: 400;
                line-height: normal;
            }
            &__old {
                color: #000;
                font-size: 24px;
                font-weight: 400;
                line-height: normal;
                text-decoration: line-through;
            }
        }
        button {
            width: calc(100% - 10px - 10px);
            padding: 20px 20px;
            border: none;
            border-radius: 10px;
            margin: 0 10px 0 10px;
            background: $main-color;
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__leave__review {
        textarea {
            display: block;
            margin-top: 10px;
        }
        &__buttons {
            display: flex;
            button {
                display: block;
                margin-top: 10px;
                margin-right: 15px;
                text-align: center;
                padding: 5px;
                width: 100px;
                color: #000;
                border: 1px solid #000;
                border-radius: 10px;
                text-decoration: none;
                transition: .05s;
                &:focus {
                    background: green;
                }
            }
        }
    }
}
.recomendations {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-auto-rows: 320px;
    column-gap: 40px;
    row-gap: 27px;
}