.header {
    box-shadow: 0px 6px 8px 0px rgba(78, 161, 107, 0.50);
}
.supheader {
    padding: 3px 0;
    display: flex;
    align-items: center;
    div {
        margin: 0 20px;
    }
}
.currency {
    color: #9B9B9B;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}
.current_city {
    color: #000;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    span {
        margin-right: 5px;
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__search {
        display: flex;
        width: 490px;
        height: 44px;
        flex-shrink: 0;
        input {
            max-height: 100%;
            width: calc(100% - 70px);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 1px solid $main-color;
            outline: none;
        }
        button {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 70px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: $main-color;
            span {
                font-size: 25px;
            }
        }
    }
    &__actions {
        display: grid;
        grid-template-columns: repeat(5, auto);
        column-gap: 30px;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 44px;
            &__img {
                height: 30px;
                span {
                    font-size: 28px;
                }
            }
            &__title {
                color: #000;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
                &:hover {
                    color: $main-color;
                }
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}
.logo {
    width: 207px;
    height: 69px;
    a {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.catalog {
    display: flex;
    padding: 4px 0 14px 0;
    margin: 0;
    &__item {
        margin-right: 25px;
        list-style-type: none;
        cursor: pointer;
    }
}